﻿
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themesanytime.com/EDIFY/demo/admin/default-info/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 May 2018 12:41:53 GMT -->
<head>
    <meta charset="UTF-8">
    <title>EDIFY - Multi Purpose Bootstrap 4 Admin Template</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/assets/backend/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/backend/fonts/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/backend/fonts/open-sans/styles.css">
    <link rel="stylesheet" type="text/css" href="~/assets/backend/plugins/tether/css/tether.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/backend/css/common.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/backend/css/auth.css">
</head>
<body>

    <div class="ks-page">
        <div class="ks-page-header">
            <a href="#" class="ks-logo">EDIFY</a>
        </div>
        <div class="ks-page-content">
            @RenderBody()
            
        </div>
        <div class="ks-footer">
            <span class="ks-copyright">&copy; 2018 EDIFY</span>
            <ul>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <script src="~/assets/backend/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/backend/plugins/tether/js/tether.min.js"></script>
    <script src="~/assets/backend/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>

<!-- Mirrored from themesanytime.com/EDIFY/demo/admin/default-info/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 03 May 2018 12:41:54 GMT -->
</html>