﻿
@{
    ViewData["Title"] = "CreateNewBranch";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="ks-page-header">
    <section class="ks-title">
        <h3>Add New Branch</h3>
    </section>
</div>

<div class="ks-page-content">
    <div class="ks-page-content-body">
        <div class="card">
            <div class="card-block">
                <h5 class="card-title">Branch Details:-</h5>
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">Select School</label>
                            <select class="form-control">
                                <option>Select School</option>
                                <option>Allied School</option>
                                <option>Lahore Grammar School</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">Branch Name</label>
                            <input type="text" id="branch-name" class="form-control school-address" maxlength="9">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">Branch Address</label>
                            <input type="text" id="branch-address" class="form-control school-address" maxlength="9">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">Branch Phone No</label>
                            <input type="text" id="branch-phone-no" class="form-control school-phone-no" maxlength="9">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">Branch Email</label>
                            <input type="text" id="branch-email" class="form-control school-email" maxlength="9">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <button id="btn-create-branch" class="btn btn-primary">Create Branch</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

