﻿
@{
    ViewData["Title"] = "SchoolWizardForm";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}


<div class="ks-page-header">
    <section class="ks-title">
        <h3>Add New School</h3>
    </section>
</div>


<div class="ks-page-content">
    <div class="ks-page-content-body ks-tabs-page-container">
        <div class="ks-tabs-container-description">
            <h3>School Creation Steps</h3>               
        </div>
        <ul class="nav ks-nav-tabs ks-tabs-page-default ks-tabs-full-page">
            <li class="nav-item">
                <a class="nav-link active show" href="#" data-toggle="tab" data-target="#new-school">
                    Create New School
                    
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#new-branch">
                    Create A Branch
                    
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tab" data-target="#school-admin">
                    Create School Admin
                    
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active show" id="new-school" role="tabpanel">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">School Details:-</h5>
                        <div class="row">
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">School Name</label>
                                    <input type="text" id="school-name" class="form-control school-name" maxlength="9">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">School Address</label>
                                    <input type="text" id="school-address" class="form-control school-address" maxlength="9">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">School Phone No</label>
                                    <input type="text" id="school-phone-no" class="form-control school-phone-no" maxlength="9">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">School Email</label>
                                    <input type="text" id="school-email" class="form-control school-email" maxlength="9">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <button id="btn-create-school" class="btn btn-primary">Create School</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="tab-pane" id="new-branch" role="tabpanel">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">Branch Details:-</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="select-school-for-branch">School</label>
                                    <select id="select-school-for-branch" class="form-control">
                                        <option>Select a School</option>
                                        <option>Select</option>
                                        <option>Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">Branch Name</label>
                                    <input type="text" id="branch-name" class="form-control branch-name" maxlength="9">
                                </div>
                            </div>                                                                                    
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">Branch Address</label>
                                    <input type="text" id="branch-address" class="form-control branch-address" maxlength="9">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">Branch Phone No</label>
                                    <input type="text" id="branch-phone-no" class="form-control branch-phone-no" maxlength="9">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">Branch Email</label>
                                    <input type="text" id="branch-email" class="form-control branch-email" maxlength="9">
                                </div>
                            </div>
                             
                            <div class="col-lg-4">
                                <div class="form-group">                                    
                                    <button id="btn-create-branch" class="btn btn-primary">Create Branch</button>
                                </div>
                            </div>  
                        </div>


                    </div>
                </div>
            </div>
            <div class="tab-pane" id="school-admin" role="tabpanel">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">School Admin Details:-</h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">Name</label>
                                    <input type="text" id="school-admin-name" class="form-control school-admin-name" maxlength="9">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">Email</label>
                                    <input type="text" id="school-admin-email" class="form-control school-admin-email" maxlength="9">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">Username</label>
                                    <input type="text" id="school-admin-username" class="form-control school-admin-username" maxlength="9">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="ks-phone-mask-input">Password</label>
                                    <input type="text" id="school-admin-password" class="form-control school-admin-password" maxlength="9">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <button id="btn-add-school-admin" class="btn btn-primary">Add School Admin</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



@section Scripts {
    
    
    

   
}
