﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="ks-wrapper ks-sidebar-wrapper">
    <ul class="nav nav-pills nav-stacked">

        <li class="nav-item ks-user dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/img/avatars/avatar-12.jpg" width="36" height="36" class="ks-avatar rounded-circle">
                <div class="ks-info">
                    <div class="ks-name">School Admin</div>
                    <div class="ks-text">Name of School Admin</div>
                </div>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="profile-social-profile.html">Profile</a>
                <a class="dropdown-item" href="profile-settings-general.html">Settings</a>
            </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-dashboard"></span>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-toggle-off"></span>
                <span>Academic</span>
            </a>
            <div class="dropdown-menu">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span>Class</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="form-steps-column.html">Control Classes</a>
                        <a class="dropdown-item" href="form-steps-progress.html">Control Sections</a>
                    </div>
                </div>
                <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-dashboard"></span>
                    <span>Timetable</span>
                </a>
                <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-dashboard"></span>
                    <span>Subjects</span>
                </a>
                <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-dashboard"></span>
                    <span>Daily Diary</span>
                </a>
            </div>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-cubes"></span>
                <span>Student</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html">Admission</a>
                <a class="dropdown-item" href="index.html">Student List</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-cubes"></span>
                <span>Employee</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html">Add Employee</a>
                <a class="dropdown-item" href="index.html">Employee List</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-cubes"></span>
                <span>Examination</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html">Exam</a>
                <a class="dropdown-item" href="index.html">Datesheet</a>
                <a class="dropdown-item" href="index.html">Results</a>

            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-cubes"></span>
                <span>Noticeboard</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html">News and Updates</a>
                <a class="dropdown-item" href="index.html">Events</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-toggle-off"></span>
                <span>Administration</span>
            </a>
            <div class="dropdown-menu">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span>Attendance</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="form-steps-column.html">Student Attendance</a>
                        <a class="dropdown-item" href="form-steps-progress.html">Employee Attendance</a>
                    </div>
                </div>
                <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-dashboard"></span>
                    <span>Applications</span>
                </a>
                <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="ks-icon la la-dashboard"></span>
                    <span>Complaints</span>
                </a>
            </div>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-toggle-off"></span>
                <span>Accounts</span>
            </a>
            <div class="dropdown-menu">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span>Fee Mangement</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="form-steps-column.html">Fee Category</a>
                        <a class="dropdown-item" href="form-steps-progress.html">Fee Voucher</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <span>Payroll Management</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="form-steps-column.html">Pay Category</a>
                        <a class="dropdown-item" href="form-steps-progress.html">Pay Slips</a>
                    </div>
                </div>

            </div>

        </li>

    </ul>
</div>