﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="ks-wrapper ks-sidebar-wrapper">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item ks-user dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/img/avatars/avatar-12.jpg" width="36" height="36" class="ks-avatar rounded-circle">
                <div class="ks-info">
                    <div class="ks-name">Edify</div>
                    <div class="ks-text">Super Admin</div>
                </div>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="profile-social-profile.html">Profile</a>
                <a class="dropdown-item" href="profile-settings-general.html">Settings</a>
            </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-desktop"></span>
                <span>Create New School Wizard</span>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-sliders"></span>
                <span>Create New Branch</span>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-user"></span>
                <span>Create New School Admin</span>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-file-text-o"></span>
                <span>Schools List</span>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-file-text-o"></span>
                <span>Branches List</span>
            </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-file-text-o"></span>
                <span>Students List</span>
            </a>
        </li>
</ul>
</div>