﻿@{

    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <!-- CONTENT-->
                <div class="content">
                    <div class="section background-opacity page-title set-height-top">
                        <div class="container">
                            <div class="page-title-wrapper">
                                <!--.page-title-content--><h2 class="captions">about us</h2>
                                <ol class="breadcrumb">
                                    <li><a asp-controller="Home" asp-action="FrontEnd">Home</a></li>
                                    <li class="active"><a href="#">About</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                   
                    <!--INTRO Edify-->
                    <div class="section intro-edu">
                        <div class="container">
                            <div class="intro-edu-wrapper">
                                <div class="row">
                                    <div class="col-md-5"><img src="~/assets/frontend/images//people-avatar-8.png" alt="" class="intro-image fadeInLeft animated wow" /></div>
                                    <div class="col-md-7">
                                        <div class="intro-title">WHAT IS <b>Edify</b> ?</div>
                                        <div class="intro-content">
                                            <p>Edify is comprehensive web-based software for school management. Edify very gracefully and remarkably handles all the requirements for easy management of schools introduced by VU SWH.</p>
                                            <p>It enables Schools and their branches to record access report and manage their student and employees data and performance records in real-time. Parents, Students, Teachers and Administrators use the system to share information about grades, attendance records and home work assignments etc.</p>
                                        </div>
                                        <div class="group-button">
                                            <button class="btn btn-transition-2"><span>purchase Edify</span></button>
                                            <button class="btn btn-green"><span>start learn now</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section section-padding edu-ab">
                        <div class="container">
                            <div class="edu-ab">
                                <div class="group-title-index edu-ab-title"><h2 class="center-title">WITH <b>Edify</b> YOU CAN</h2><h4 class="top-title">Automate Daily Routine Tasks</h4></div>
                                <div class="edu-ab-content">
                                    <ul class="list-unstyled list-inline">
                                        <li>
                                            <div class="circle-icon"><i class="fa fa-wifi fa-2x"></i></div>
                                            <span>Learning online 100%</span>
                                        </li>
                                        <li>
                                            <div class="circle-icon fa-2x"><i class="fa fa-search"></i></div>
                                            <span>Learn everything you want</span>
                                        </li>
                                        <li>
                                            <div class="circle-icon fa-2x"><i class="fa fa-thumbs-up"></i></div>
                                            <span>Learn from top expert</span>
                                        </li>
                                        <li>
                                            <div class="circle-icon fa-2x"><i class="fa fa-user"></i></div>
                                            <span>Training internal HR</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section section-padding edu-feature">
                        <div class="container">
                            <div class="edu-feature-wrapper">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="group-title-index edu-feature-text">
                                                    <h2 class="center-title">User friendly Interface at Edify</h2>

                                                    <p class="top-title">Edify is so user friendly that user can done their tasks without any effort. It is simple and effective to help the users to automate their daily routine tasks. Edify is user friendly, easy to configure, easy to use, with substantial reduction on end user learning curve.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <ul id="accordion" role="tablist" class="panel-group list-unstyled edu-feature-list">
                                                    <li class="panel">
                                                        <div role="tab" id="item-1" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#lesson" data-toggle="collapse" data-parent="#accordion" role="button" aria-expanded="true" aria-controls="lesson"><span>Easy </span>to Use</a></div>
                                                        <div id="lesson" role="tabpanel" aria-labelledby="item-1" class="collapse">
                                                            <div class="panel-body col-item-2">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                                        </div>
                                                    </li>
                                                    <li class="panel">
                                                        <div role="tab" id="item-2" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#display" data-toggle="collapse" data-parent="#accordion" role="button" aria-expanded="true" aria-controls="lesson"><span>Easy</span> to Configure </a></div>
                                                        <div id="display" role="tabpanel" aria-labelledby="item-2" class="collapse">
                                                            <div class="panel-body col-item-2">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                                        </div>
                                                    </li>
                                                    <li class="panel">
                                                        <div role="tab" id="item-3" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#discuss" data-toggle="collapse" data-parent="#accordion" role="button" aria-expanded="true" aria-controls="lesson"><span>Automation of </span> daily routine tasks</a></div>
                                                        <div id="discuss" role="tabpanel" aria-labelledby="item-3" class="collapse">
                                                            <div class="panel-body col-item-2">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                                        </div>
                                                    </li>
                                                    <li class="panel">
                                                        <div role="tab" id="item-4" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#capability1" data-toggle="collapse" data-parent="#accordion" role="button" aria-expanded="true" aria-controls="lesson"><span>Compatible</span> with Ubermenu</a></div>
                                                        <div id="capability1" role="tabpanel" aria-labelledby="item-4" class="collapse">
                                                            <div class="panel-body col-item-2">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                                        </div>
                                                    </li>
                                                    <li class="panel">
                                                        <div role="tab" id="item-5" class="col-item-1"><i class="fa fa-check-circle"></i><a href="#capability2" data-toggle="collapse" data-parent="#accordion" role="button" aria-expanded="true" aria-controls="lesson"><span>Compatible</span> with Many Popular Plugins</a></div>
                                                        <div id="capability2" role="tabpanel" aria-labelledby="item-5" class="collapse">
                                                            <div class="panel-body col-item-2">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum intellegebat, liber regione eu sit. Mea cu case ludus integre.</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"><img src="~/assets/frontend/images//picture-8.png" alt="" class="computer-image" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PROGRESS BARS-->
                    <div class="section progress-bars section-padding">
                        <div class="container">
                            <div class="progress-bars-content">
                                <div class="progress-bar-wrapper">
                                    <h2 class="title-2">Some important facts about us</h2>

                                    <div class="row">
                                        <div class="content">
                                            <div class="col-sm-3">
                                                <div class="progress-bar-number">
                                                    <div data-from="0" data-to="44" data-speed="1000" class="num">0</div>
                                                    <p class="name-inner">teachers</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="progress-bar-number">
                                                    <div data-from="0" data-to="56" data-speed="1000" class="num">0</div>
                                                    <p class="name-inner">courses</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="progress-bar-number">
                                                    <div data-from="0" data-to="165" data-speed="1000" class="num">0</div>
                                                    <p class="name-inner">members</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="progress-bar-number">
                                                    <div data-from="0" data-to="15" data-speed="1000" class="num">0</div>
                                                    <p class="name-inner">Countries</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="group-button">
                                        <button onclick="window.location.href='categories.html'" class="btn btn-transition-3"><span>Purchase Edify</span></button>
                                        <button onclick="window.location.href='about-us.html'" class="btn btn-green-3"><span>start Learn now</span></button>
                                    </div>
                                    <div class="group-btn-slider">
                                        <div class="btn-prev"><i class="fa fa-angle-left"></i></div>
                                        <div class="btn-next"><i class="fa fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BEST STAFF-->
                    <div class="section section-padding staff-list best-staff">
                        <div class="container">
                            <div class="group-title-index">
                                <h4 class="top-title">touch them if you want</h4>

                                <h2 class="center-title">learn from the best</h2>

                                <div class="bottom-title"><i class="bottom-icon icon-icon-05"></i></div>
                            </div>
                            <div class="best-staff-wrapper">
                                <div class="best-staff-content">
                                    <div class="staff-item customize">
                                        <div class="staff-item-wrapper">
                                            <div class="staff-info">
                                                <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-2.jpg" alt="" class="img-responsive" /></a><a href="#" class="staff-name">Alex trevor</a>

                                                <div class="staff-job">head teacher</div>
                                                <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                            </div>
                                        </div>
                                        <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                    </div>
                                    <div class="staff-item customize">
                                        <div class="staff-item-wrapper">
                                            <div class="staff-info">
                                                <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-3.jpg" alt="" class="img-responsive" /></a><a href="#" class="staff-name">lana simth</a>

                                                <div class="staff-job">vice head teacher</div>
                                                <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                            </div>
                                        </div>
                                        <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                    </div>
                                    <div class="staff-item customize">
                                        <div class="staff-item-wrapper">
                                            <div class="staff-info">
                                                <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-4.jpg" alt="" class="img-responsive" /></a><a href="#" class="staff-name">barry join</a>

                                                <div class="staff-job">advisory professor</div>
                                                <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                            </div>
                                        </div>
                                        <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                    </div>
                                    <div class="staff-item customize">
                                        <div class="staff-item-wrapper">
                                            <div class="staff-info">
                                                <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-5.jpg" alt="" class="img-responsive" /></a><a href="#" class="staff-name">taylor ema</a>

                                                <div class="staff-job">teacher</div>
                                                <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                            </div>
                                        </div>
                                        <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-btn-slider">
                            <div class="btn-prev"><i class="fa fa-angle-left"></i></div>
                            <div class="btn-next"><i class="fa fa-angle-right"></i></div>
                        </div>
                    </div>
                    <!-- SLIDER TALK ABOUT US-->
                    <div class="section background-opacity slider-talk-about-us">
                        <div class="container">
                            <div id="people-talk" data-ride="carousel" data-interval="5000" class="slider-talk-about-us-wrapper carousel slide">
                                <div role="listbox" class="slider-talk-about-us-content carousel-inner">
                                    <div class="peopel-item item active">
                                        <p class="peopel-comment">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "</p>

                                        <div class="group-peole-info">
                                            <div class="peopel-avatar"><img src="~/assets/frontend/images/people-avatar-1.jpg" alt="" class="img-responsive" /></div>
                                            <div class="peopel-name">john doe</div>
                                            <div class="people-job">Microshop Crop.SEO</div>
                                        </div>
                                    </div>
                                    <div class="peopel-item item">
                                        <p class="peopel-comment">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "</p>

                                        <div class="group-peole-info">
                                            <div class="peopel-avatar"><img src="~/assets/frontend/images/people-avatar-1.jpg" alt="" class="img-responsive" /></div>
                                            <div class="peopel-name">john doe</div>
                                            <div class="people-job">Microshop Crop.SEO</div>
                                        </div>
                                    </div>
                                    <div class="peopel-item item">
                                        <p class="peopel-comment">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. "</p>

                                        <div class="group-peole-info">
                                            <div class="peopel-avatar"><img src="~/assets/frontend/images/people-avatar-1.jpg" alt="" class="img-responsive" /></div>
                                            <div class="peopel-name">john doe</div>
                                            <div class="people-job">Microshop Crop.SEO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group-btn-slider">
                            <a href="#people-talk" role="button" data-slide="prev">
                                <div class="btn-prev carousel-control left"><i class="fa fa-angle-left"></i></div>
                            </a><a href="#people-talk" role="button" data-slide="next">
                                <div class="btn-next carousel-control right"><i class="fa fa-angle-right"></i></div>
                            </a>
                        </div>
                    </div>
                    <!-- SLIDER LOGO-->
                    <div class="section slider-logo">
                        <div class="container">
                            <div class="slider-logo-wrapper">
@*                                <div class="slider-logo-content">*@
@*                                    <div class="carousel-logos owl-carousel">*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-1.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-2.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-3.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-4.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-5.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-6.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-1.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-2.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-3.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-4.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-5.png" alt="" class="img-responsive" /></a></div>*@
@*                                        <div class="logo-iteam item"><a href="#"><img src="~/assets/frontend/images/logo/logo-carousel-6.png" alt="" class="img-responsive" /></a></div>*@
@*                                    </div>*@
@*                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>


      </div> 