﻿
@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}
<div id="wrapper-content">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <!-- CONTENT-->
            <div class="content">
                <div class="section background-opacity page-title set-height-top">
                    <div class="container">
                        <div class="page-title-wrapper">
                            <!--.page-title-content--><h2 class="captions">Employee Management</h2>
                            <ol class="breadcrumb">
                                <li><a asp-controller="Home" asp-action="FrontEnd">Home</a></li>
                                <li class="active"><a asp-controller="Frontend" asp-action="EmployeeManagement">Employee Management</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="section nav-subscribe">
                    <div class="container">
                        <div class="nav-subscribe-wrapper">
                            <div class="nav-subscribe-left"><p class="subscribe-text">Subscribe <b class="focus">Edugate</b> to learn new creative skill</p></div>
                            <div class="nav-subscribe-right">
                                <button class="btn btn-green btn-bold"><span>SUBSCRIBE NOW</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-padding profile-teacher">
                    <div class="container">
                        <div class="profile-teacher-wrapper">
                            <div class="teacher-info">
                                <div class="staff-item2 customize">
                                    <div class="staff-item-wrapper">
                                        <div class="staff-info"><a href="#" class="staff-avatar"><img src="assets/images/people-avatar-4.jpg" alt="" class="img-responsive"></a><a href="#" class="staff-name">barry join</a></div>
                                    </div>
                                    <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                </div>
                                <div class="teacher-des">
                                    <div class="title">Barry Join</div>
                                    <div class="subtitle">Vice Head Teacher</div>
                                    <div class="content">
                                        <p class="content-detail">Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believabl.</p>

                                        <p class="content-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu tellus ipsum. Nunc maximus sapien ac dui vulputate tincidunt. Morbi luctus nisi vel suscipit volutpat. Donec vitae auctor nisl. Ut malesuada felis in erat rutrum ultrices.</p>
                                        <ul class="detail-list">
                                            <li>Fusce iaculis ornare nunc rutrum ornare.</li>
                                            <li>Proin ut placerat enim, vel venenatis urna.</li>
                                            <li>Phasellus sed diam tincidunt mauris malesuada mattis et in nisl.</li>
                                            <li>Quisque massa eros, molestie at mi eget, aliquam tristique eros.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="certificate-title underline">Certificates</div>
                            <div class="slider-logo">
                                <div class="slider-logo-wrapper">
                                    <div class="slider-logo-content">
                                        <div class="carousel-logos owl-carousel owl-theme owl-responsive-1025 owl-loaded">












                                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1882.5px, 0px, 0px); transition: 1.5s; width: 5020.01px;"><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-1.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-2.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-3.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-4.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-5.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-6.png" alt="" class="img-responsive"></a></div></div><div class="owl-item" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-1.png" alt="" class="img-responsive"></a></div></div><div class="owl-item" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-2.png" alt="" class="img-responsive"></a></div></div><div class="owl-item" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-3.png" alt="" class="img-responsive"></a></div></div><div class="owl-item active" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-4.png" alt="" class="img-responsive"></a></div></div><div class="owl-item active" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-5.png" alt="" class="img-responsive"></a></div></div><div class="owl-item active" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-6.png" alt="" class="img-responsive"></a></div></div><div class="owl-item active" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-1.png" alt="" class="img-responsive"></a></div></div><div class="owl-item active" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-2.png" alt="" class="img-responsive"></a></div></div><div class="owl-item active" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-3.png" alt="" class="img-responsive"></a></div></div><div class="owl-item" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-4.png" alt="" class="img-responsive"></a></div></div><div class="owl-item" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-5.png" alt="" class="img-responsive"></a></div></div><div class="owl-item" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-6.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-1.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-2.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-3.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-4.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-5.png" alt="" class="img-responsive"></a></div></div><div class="owl-item cloned" style="width: 94.167px; margin-right: 115px;"><div class="logo-iteam item"><a href="#"><img src="assets/images/logo/logo-carousel-6.png" alt="" class="img-responsive"></a></div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;">prev</div><div class="owl-next" style="display: none;">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section teacher-skill">
                    <div class="container teacher-skill-content">
                        <div class="teacher-skill-wrapper">
                            <div class="title">barry join's key skill</div>
                            <div class="row skill-content">
                                <div class="col-md-6 skill-level">
                                    <div class="skill-name">online marketing</div>
                                    <div class="progress">
                                        <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-1" style="width: 90%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 skill-level">
                                    <div class="skill-name">online marketing</div>
                                    <div class="progress">
                                        <div role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-2" style="width: 95%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 skill-level">
                                    <div class="skill-name">branding</div>
                                    <div class="progress">
                                        <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-3" style="width: 100%; border-bottom-right-radius: 7px; border-top-right-radius: 7px;"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 skill-level">
                                    <div class="skill-name">branding</div>
                                    <div class="progress">
                                        <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-4" style="width: 90%;"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 skill-level">
                                    <div class="skill-name">creativity</div>
                                    <div class="progress">
                                        <div role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-5" style="width: 100%; border-bottom-right-radius: 7px; border-top-right-radius: 7px;"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 skill-level">
                                    <div class="skill-name">creativity</div>
                                    <div class="progress">
                                        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar skill-6" style="width: 70%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section teacher-course section-padding">
                    <div class="container teacher-course-wrapper">
                        <div class="underline">Courses</div>
                        <div class="course-table" style="height: 401px; width: 1170px;">
                            <div class="outer-container">
                                <div class="inner-container">
                                    <div class="table-header">
                                        <table class="edu-table-responsive">
                                            <thead>
                                                <tr class="heading-table">
                                                    <th class="col-1">id</th>
                                                    <th class="col-2">course name</th>
                                                    <th class="col-3">duration</th>
                                                    <th class="col-4">timeline</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="table-body">
                                        <table class="edu-table-responsive table-hover">
                                            <tbody>
                                                <tr class="table-row">
                                                    <td class="col-1"><span>ED1</span></td>
                                                    <td class="col-2"><a href="courses-detail.html">Sport Exercise Sciences</a></td>
                                                    <td class="col-3"><span>2 months</span></td>
                                                    <td class="col-4"><span>01/01/2016 - &nbsp;02/15/2016</span></td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="col-1"><span>ED1</span></td>
                                                    <td class="col-2"><a href="courses-detail.html">Learning Website Optimization With Bootstrap</a></td>
                                                    <td class="col-3"><span>2 months</span></td>
                                                    <td class="col-4"><span>01/01/2016 - &nbsp;02/15/2016</span></td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="col-1"><span>ED1</span></td>
                                                    <td class="col-2"><a href="courses-detail.html">Skeching Custom Item Prize Design</a></td>
                                                    <td class="col-3"><span>2 months</span></td>
                                                    <td class="col-4"><span>01/01/2016 - &nbsp;02/15/2016</span></td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="col-1"><span>ED1</span></td>
                                                    <td class="col-2"><a href="courses-detail.html">Learning Website Optimization With Bootstrap</a></td>
                                                    <td class="col-3"><span>2 months</span></td>
                                                    <td class="col-4"><span>01/01/2016 - &nbsp;02/15/2016</span></td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="col-1"><span>ED1</span></td>
                                                    <td class="col-2"><a href="courses-detail.html">Learning Viral Web Design Projects</a></td>
                                                    <td class="col-3"><span>2 months</span></td>
                                                    <td class="col-4"><span>01/01/2016 - &nbsp;02/15/2016</span></td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="col-1"><span>ED1</span></td>
                                                    <td class="col-2"><a href="courses-detail.html">Email Marketing Strategy With MailChimp</a></td>
                                                    <td class="col-3"><span>2 months</span></td>
                                                    <td class="col-4"><span>01/01/2016 - &nbsp;02/15/2016</span></td>
                                                </tr>
                                                <tr class="table-row">
                                                    <td class="col-1"><span>ED1</span></td>
                                                    <td class="col-2"><a href="courses-detail.html">Social Media Network &amp; Marketing</a></td>
                                                    <td class="col-3"><span>2 months</span></td>
                                                    <td class="col-4"><span>01/01/2016 - &nbsp;02/15/2016</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUTTON BACK TO TOP-->
    <div id="back-top"><a href="#top" class="show"><i class="fa fa-angle-double-up"></i></a></div>
</div>
