﻿
@{
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}


<!-- WRAPPER-->
<div id="wrapper-content">
    <!-- PAGE WRAPPER-->
    <div id="page-wrapper">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <!-- CONTENT-->
            <div class="content">
                <div class="section background-opacity page-title set-height-top">
                    <div class="container">
                        <div class="page-title-wrapper">
                            <!--.page-title-content--><h2 class="captions">Student Management</h2>
                            <ol class="breadcrumb">
                                <li><a href="index-2.html">Home</a></li>
                                <li><a href="categories.html">Features</a></li>
                                <li><a href="courses.html">Student Management</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="section">
                </div>
                <div class="section section-padding courses-detail event-detail-section">
                    <div class="container">
                        <div class="courses-detail-wrapper">
                            <div class="row">
                                <div class="col-md-9 layout-left">
                                    <h1 class="event-detail-title">Student Management System</h1>
                                    <div class="event-detail-thumb"><img src="~/assets/frontend/images/event-detail-1.jpg" alt="" class="img-responsive"></div>
                                    <div class="event-detail-des">
                                        <div class="event-detail-des-content">
                                            <p>Edify provides an efficient student management system where we tackle all the data of students studying in a school. A newly admitted student and its parent will be given login details for their portal where they can view all the academic activities of student and remain well informed. The student and parent will remain updated to all the happenings of school and all its events. </p><br>
                                            
                                            <p>Admin of school will add the data of students online which will be stored in the database and remain safe. All the students studying in the school will be shown in a list and admin can easily filter the students class wise or section wise.</p>
                                        </div>

                                        <div class="course-syllabus-title underline">Representative</div>
                                        <div class="event-detail-list-staff owl-carousel owl-theme owl-loaded owl-responsive-1024">
                                            <div class="owl-stage-outer">
                                                <div class="owl-stage" style="transform: translate3d(-878.001px, 0px, 0px); transition: 1s; width: 2634px;">
                                                    <div class="owl-item cloned" style="width: 262.667px; margin-right: 30px;">
                                                        <div class="item">
                                                            <div class="staff-item customize">
                                                                <div class="staff-item-wrapper">
                                                                    <div class="staff-info">
                                                                        <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-3.jpg" alt="" class="img-responsive"></a><a href="#" class="staff-name">lana simth</a>

                                                                        <div class="staff-job">vice head teacher</div>
                                                                        <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 262.667px; margin-right: 30px;">
                                                        <div class="item">
                                                            <div class="staff-item customize">
                                                                <div class="staff-item-wrapper">
                                                                    <div class="staff-info">
                                                                        <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-4.jpg" alt="" class="img-responsive"></a><a href="#" class="staff-name">barry join</a>

                                                                        <div class="staff-job">advisory professor</div>
                                                                        <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 262.667px; margin-right: 30px;">
                                                        <div class="item">
                                                            <div class="staff-item customize">
                                                                <div class="staff-item-wrapper">
                                                                    <div class="staff-info">
                                                                        <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-5.jpg" alt="" class="img-responsive"></a><a href="#" class="staff-name">taylor ema</a>

                                                                        <div class="staff-job">teacher</div>
                                                                        <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active" style="width: 262.667px; margin-right: 30px;">
                                                        <div class="item">
                                                            <div class="staff-item customize">
                                                                <div class="staff-item-wrapper">
                                                                    <div class="staff-info">
                                                                        <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-3.jpg" alt="" class="img-responsive"></a><a href="#" class="staff-name">lana simth</a>

                                                                        <div class="staff-job">vice head teacher</div>
                                                                        <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active" style="width: 262.667px; margin-right: 30px;">
                                                        <div class="item">
                                                            <div class="staff-item customize">
                                                                <div class="staff-item-wrapper">
                                                                    <div class="staff-info">
                                                                        <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-4.jpg" alt="" class="img-responsive"></a><a href="#" class="staff-name">barry join</a>

                                                                        <div class="staff-job">advisory professor</div>
                                                                        <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item active" style="width: 262.667px; margin-right: 30px;">
                                                        <div class="item">
                                                            <div class="staff-item customize">
                                                                <div class="staff-item-wrapper">
                                                                    <div class="staff-info">
                                                                        <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-5.jpg" alt="" class="img-responsive"></a><a href="#" class="staff-name">taylor ema</a>

                                                                        <div class="staff-job">teacher</div>
                                                                        <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 262.667px; margin-right: 30px;">
                                                        <div class="item">
                                                            <div class="staff-item customize">
                                                                <div class="staff-item-wrapper">
                                                                    <div class="staff-info">
                                                                        <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-3.jpg" alt="" class="img-responsive"></a><a href="#" class="staff-name">lana simth</a>

                                                                        <div class="staff-job">vice head teacher</div>
                                                                        <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 262.667px; margin-right: 30px;">
                                                        <div class="item">
                                                            <div class="staff-item customize">
                                                                <div class="staff-item-wrapper">
                                                                    <div class="staff-info">
                                                                        <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-4.jpg" alt="" class="img-responsive"></a><a href="#" class="staff-name">barry join</a>

                                                                        <div class="staff-job">advisory professor</div>
                                                                        <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-item cloned" style="width: 262.667px; margin-right: 30px;">
                                                        <div class="item">
                                                            <div class="staff-item customize">
                                                                <div class="staff-item-wrapper">
                                                                    <div class="staff-info">
                                                                        <a href="#" class="staff-avatar"><img src="~/assets/frontend/images/people-avatar-5.jpg" alt="" class="img-responsive"></a><a href="#" class="staff-name">taylor ema</a>

                                                                        <div class="staff-job">teacher</div>
                                                                        <div class="staff-desctiption">Nam libelo tempore, cum soluta nobis est eligendi optio cumque nilhi impedil quo minus end maximie fade posimus the end.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="staff-socials"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google-plus"></i></a><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-controls">
                                                <div class="owl-nav">
                                                    <div class="owl-prev" style="display: none;">prev</div>
                                                    <div class="owl-next" style="display: none;">next</div></div>
                                                <div class="owl-dots" style="">
                                                    <div class="owl-dot active"><span></span></div></div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 sidebar layout-right">
                                    <div class="row">
                                        <div class="popular-course-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                            <div class="title-widget">Related Events</div>
                                            <div class="content-widget">
                                                <div class="media">
                                                    <div class="media-left"><a href="courses-detail.html" class="link"><img src="~/assets/frontend/images/popular/popular-1.jpg" alt="" class="media-image"></a></div>
                                                    <div class="media-right">
                                                        <div class="cur">35</div>
                                                        <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                                        <div class="info">
                                                            <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="media-left"><a href="courses-detail.html" class="link"><img src="~/assets/frontend/images/popular/popular-2.jpg" alt="" class="media-image"></a></div>
                                                    <div class="media-right">
                                                        <div class="cur">40</div>
                                                        <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                                        <div class="info">
                                                            <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="media-left"><a href="courses-detail.html" class="link"><img src="~/assets/frontend/images/popular/popular-3.jpg" alt="" class="media-image"></a></div>
                                                    <div class="media-right">
                                                        <div class="cur">34</div>
                                                        <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                                        <div class="info">
                                                            <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="media-left"><a href="courses-detail.html" class="link"><img src="~/assets/frontend/images/popular/popular-4.jpg" alt="" class="media-image"></a></div>
                                                    <div class="media-right">
                                                        <div class="cur">27</div>
                                                        <a href="courses-detail.html" class="link title">Adobe Lightroom CC for Photographers</a>

                                                        <div class="info">
                                                            <div class="author item"><a href="#"><span>By Sandara</span></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="category-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                            <div class="title-widget">categories</div>
                                            <div class="content-widget">
                                                <ul class="category-widget list-unstyled">
                                                    <li><a href="categories.html" class="link cat-item"><span class="pull-left">Web Design</span><span class="pull-right">125</span></a></li>
                                                    <li><a href="categories.html" class="link cat-item"><span class="pull-left">Wordpress Themes</span><span class="pull-right">97</span></a></li>
                                                    <li><a href="categories.html" class="link cat-item"><span class="pull-left">Photography</span><span class="pull-right">56</span></a></li>
                                                    <li><a href="categories.html" class="link cat-item"><span class="pull-left">Video</span><span class="pull-right">24</span></a></li>
                                                    <li><a href="categories.html" class="link cat-item"><span class="pull-left">Miscellaneous</span><span class="pull-right">13</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="tag-widget widget col-sm-6 col-md-12 col-xs-6 sd380">
                                            <div class="title-widget">tags</div>
                                            <div class="content-widget">
                                                <ul class="tag-widget list-unstyled">
                                                    <li><a href="#" class="tag-item">Software</a></li>
                                                    <li><a href="#" class="tag-item">Music</a></li>
                                                    <li><a href="#" class="tag-item">Photography</a></li>
                                                    <li><a href="#" class="tag-item">Communication</a></li>
                                                    <li><a href="#" class="tag-item">Tutorial</a></li>
                                                    <li><a href="#" class="tag-item">Biology</a></li>
                                                    <li><a href="#" class="tag-item">Photoshop</a></li>
                                                    <li><a href="#" class="tag-item">Economics</a></li>
                                                    <li><a href="#" class="tag-item">Statistics</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-detail-related">
                            <div class="course-syllabus-title underline">May also you like</div>
                            <div class="event-detail-content">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="edugate-layout-3 news-gird">
                                            <div class="edugate-layout-3-wrapper">
                                                <a href="#" class="edugate-image"><img src="~/assets/frontend/images/news/news-1.jpg" alt="" class="img-responsive"></a>

                                                <div class="edugate-content">
                                                    <a href="news-detail.html" class="title">Vegie Garden Workshops</a>

                                                    <div class="info-more info-event-detail">
                                                        <div class="view item">
                                                            <i class="fa fa-map-marker fa-fw"></i>

                                                            <p> New York, Time Square</p>
                                                        </div>
                                                        <div class="comment item">
                                                            <i class="fa fa-clock-o fa-fw"></i>

                                                            <p> 20/02/2015</p>
                                                        </div>
                                                    </div>
                                                    <div class="description">Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.</div>
                                                    <button class="btn btn-green"><span>Check it</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="edugate-layout-3 news-gird">
                                            <div class="edugate-layout-3-wrapper">
                                                <a href="#" class="edugate-image"><img src="~/assets/frontend/images/news/news-2.jpg" alt="" class="img-responsive"></a>

                                                <div class="edugate-content">
                                                    <a href="news-detail.html" class="title">Vegie Garden Workshops</a>

                                                    <div class="info-more info-event-detail">
                                                        <div class="view item">
                                                            <i class="fa fa-map-marker fa-fw"></i>

                                                            <p> New York, Time Square</p>
                                                        </div>
                                                        <div class="comment item">
                                                            <i class="fa fa-clock-o fa-fw"></i>

                                                            <p> 20/02/2015</p>
                                                        </div>
                                                    </div>
                                                    <div class="description">Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.</div>
                                                    <button class="btn btn-green"><span>Check it</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="edugate-layout-3 news-gird">
                                            <div class="edugate-layout-3-wrapper">
                                                <a href="#" class="edugate-image"><img src="~/assets/frontend/images/news/news-3.jpg" alt="" class="img-responsive"></a>

                                                <div class="edugate-content">
                                                    <a href="news-detail.html" class="title">Vegie Garden Workshops</a>

                                                    <div class="info-more info-event-detail">
                                                        <div class="view item">
                                                            <i class="fa fa-map-marker fa-fw"></i>

                                                            <p> New York, Time Square</p>
                                                        </div>
                                                        <div class="comment item">
                                                            <i class="fa fa-clock-o fa-fw"></i>

                                                            <p> 20/02/2015</p>
                                                        </div>
                                                    </div>
                                                    <div class="description">Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.</div>
                                                    <button class="btn btn-green"><span>Check it</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUTTON BACK TO TOP-->
    <div id="back-top"><a href="#top" class="show"><i class="fa fa-angle-double-up"></i></a></div>
</div>
